<!DOCTYPE html>
<html>

    <head>
        <title>Product Catalogue Management</title>
    </head>

    <body>
        <h1>Welcome to Product Catalogue Management</h1>
        <p>This web application allows you to manage the product records in your catalogue.</p>
        <table width="50%" height="50%" border="1" cellpadding="10" cellspacing="0">
            <tbody>
                <tr>
                    <td align="center"><a href="/viewAllProducts">View All Products</a></td>
                    <td align="center"><a href="/createNewProduct">Create New Product</a></td>
                </tr>
            </tbody>
        </table>
    </body>

</html>
